.Join__container {
  height: 100%;
}

.joinOuterContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.joinInnerContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Join__input {
  padding: 10px 16px;
  width: 30rem;
  font-size: 16px;
  border-radius: 5px;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  width: 60%;
  margin-bottom: 3rem;
}

.Join__button {
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: hsl(159, 50%, 53%);
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 14rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  transition: color 0.5s ease;
}

.Join__button:hover {
  background-color: hsl(159, 50%, 40%);
  cursor: pointer;
}

.Join__button.inactive {
  color: rgb(160, 156, 156);
  background-color: hsl(180, 1%, 37%);
}

.Join__button.inactive:hover {
  cursor: default;
}

.mt-20 {
  margin-top: 20px;
}

.mt-60 {
  margin-top: 60px;
}

.Join__error-message {
  color: #f77979;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .Join__input {
    width: 50vw;
  }
  .joinInnerContainer {
    width: 70vw;
  }
}
