.RatingBar__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50vw;
}
.RatingBar__base-bar {
  height: 1.4rem;
  border-radius: 1rem;
}

.RatingBar__outer-bar {
  width: 50vw;
  grid-column-start: 1;
  background-color: #0a0909;
  display: flex;
  align-self: end;
}

.RatingBar__inner-bar {
  background-color: grey;
  transition: width 1s ease-out 0s;
}

.RatingBar__username {
  position: relative;
  bottom: -6px;
  color: white;
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  margin-left: 1rem;
  font-family: "Montserrat";
}

.RatingBar__score {
  color: white;
  display: flex;
  align-items: center;
  font-size: 28px;
  margin-left: 1rem;
}
