.RatingBar__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50vw;
}
.RatingBar__base-bar {
  height: 2rem;
  border-radius: 1rem;
}

.RatingBar__outer-bar {
  width: 50vw;
  grid-column-start: 1;
  background-color: white;
  display: flex;
  align-self: center;
}

.RatingBar__inner-bar {
  background-color: rgb(28, 163, 73);
}

.RatingBar__username {
  color: white;
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  margin-left: 1rem;
  font-family: "Montserrat";
}

.RatingBar__score {
  color: white;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-left: 1rem;
}
