.RatingsTable__first-container {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.RatingsTable__second-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-right: 5rem;
}
