.Room__container {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
}

.Room__score-button {
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
}

.Room__score-button-container {
  margin-top: 2rem;
}
