table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #766262;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .Room__score-button{
    width: 3rem;
    height: 3rem;
    margin: .1rem;
  }

  .Room__score-button-container{
    margin-top:2rem;
  }