.Room__container {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #1e1e1e;
}
.Room__voting-button-grid-wrap {
  display: flex;
  justify-content: center;
}

.Room__score-button {
  width: 7rem;
  height: 7rem;
  background-color: #1e1e1e;
  border: 2px #4dc399 solid;
  font-size: 3rem;
  margin: 1rem;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.Room__score-button:hover {
  background-color: #242424;
  border: 2px #59e2b2 solid;
  box-shadow: 0px 0px 9px 0px #59e2b2;
}

.Room__average-score-bar {
  padding-top: 2rem;
  display: flex;
  margin-right: 2rem;
  justify-content: center;
}

@media (max-width: 870px) {
  .Room__score-button {
    width: 6rem;
    height: 6rem;
  }
}
