.SimplePrompt__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  justify-content: center;
}

.SimplePrompt__prompt {
  color: white;
  font-family: "Montserrat";
  padding: 1rem;
  font-size: 20px;
}

.SimplePrompt__input {
  width: 80%;
  padding: 0.5rem;
  font-size: 18px;
}

.SimplePrompt__button {
  border: none;
  margin: 0;
  background-color: hsl(159, 50%, 53%);
  padding: 0.5rem 3rem;
  border-radius: 2px;
  font-family: "Montserrat";
  color: white;
  margin: 30px;
  font-size: 18px;
}

.SimplePrompt__button:hover {
  background-color: hsl(159, 50%, 40%);
  cursor: pointer;
}
